<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Search">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Courses">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <ion-label>Courses</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Profile">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label> Profile </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
